@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-rootBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.cl-userButtonPopoverCard {
  width: min(80%, 260px);
}
