@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-rootBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.cl-userButtonPopoverCard {
  width: min(80%, 260px);
}

.cl-modalContent {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.cl-card {
  width: min(100%, 720px);
}
.cl-page {
}

.cl-modalBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
}
