.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing {
    width: 100%;
    animation: typing 2s steps(25), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 20px solid; */
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }